{% extends "layout.html" %}
{% block content %}
<h2>Mi blog personal</h2>
{% for row in publicaciones %}
	<div>
		<h2>{{row.titulo}}</h2>
		<div>{{row.contenido}}</div>
	</div>
	<p>&nbsp;</p>
	<form name="frm_comentario" id="frm_comentario" action="/comentario/agregar/" method="post">
		{% csrf_token %}
		{{comentariosForm}}
		<br><br>
		<input type="hidden" name="publicacionId" value="{{row.id}}">
		<input type="submit" name="btn_submit" name="btn_submit" value="Añadir nuevo comentario">
	</form>

{% endfor %}
{% endblock %}