<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li>Inicio</li>
				<li>Contacto</li>
			</ul>
		</nav>
	</header>
	<content>
		{% block content %}{% endblock %}
	</content>
	<!--
	<footer>
		<div>
			Teléfono : 989898
			Email : a@gmail.com
			Twitter : sds
			Facebook : sds
		</div>
	</footer>
	-->
</body>
</html>